<div class="row">
  <div class="profile-picture col-xs-3">
    <%= image_tag @user.image, size: "150x150" %>
  </div>

  <div class="main-info col-xs-offset-3">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <h4><%= @user.headline %></h4>
    <h4><%= @user.location %></h4>
    <h4><%= link_to "LinkedIn Profile", @user.public_profile, target: 'blank' %></h4>
  </div>
</div>

<%= validate_summary(@user) %>

<%= validate_jobs(@user) %>

<%= validate_degrees(@user) %>

<div class="row">
  <div class="main-info col-xs-3">
    <%= form_for Match.new do |f| %>
      <%= f.hidden_field :responder_id, value: @user.id %>
      <%= f.submit "Yes", name: "match[status]", class: "btn btn-success btn-lg" %>
      <%= f.submit "No", name: "match[status]", class: "btn btn-danger btn-lg" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="arrow-left">
      <% unless @user.id == 1 %>
        <%= link_to user_path(@user.id - 1) do %>
          <i class="glyphicon glyphicon-chevron-left"></i>
        <% end %>  
      <% end %>
    </div>
  </div>

  <div class="col-xs-offset-1">
    <div class="arrow-right">
      <% unless @user.id == User.all.count %>
        <%= link_to user_path(@user.id + 1) do%>
          <i class="glyphicon glyphicon-chevron-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
