<div class="profile-picture">
  <%= image_tag @user.image, size: "150x150" %>
</div>

<div class="main-info">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <h4><%= @user.headline %></h4>
  <h4><%= @user.location %></h4>
  <h4><%= link_to "LinkedIn Profile", @user.public_profile, target: 'blank' %></h4>
</div>

<%= validate_summary(@user) %>

<%= validate_jobs(@user) %>

<%= validate_degrees(@user) %>

<div class="arrow-left">
  <% unless @user.id == 1 %>
    <%= link_to user_path(@user.id - 1) do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
    <% end %>  
  <% end %>
</div>

<div class="arrow-right">
  <% unless @user.id == User.all.count %>
    <%= link_to user_path(@user.id + 1) do%>
      <i class="glyphicon glyphicon-chevron-right" size="150x150"></i>
    <% end %>
  <% end %>
</div>
