<% if current_user %>
  <div class="profile-picture">
    <%= image_tag current_user.image, size: "150x150" %>
  </div>

  <div class="main-info">
    <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    <h4><%= current_user.headline %></h4>
    <h4><%= current_user.location %></h4>
  </div>

  <div class="education-info">
    <h3>Education</h3>
    <% current_user.degrees.each do |degree| %>
      <h4><%= degree.school.name %></h4>
      <h4><%= degree.title %> <%= degree.specialty.name %></h4>
    <% end %>
  </div>

<% else %>
  <h1>Welcome!</h1>
<% end %>
