<!DOCTYPE html>
<html>
<head>
  <title>NetworkBuilder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-xs-3"><%= image_tag 'networkbuilder_logo.png', size: '180x65' %></div>

      <div class="col-xs-9">
        <% if current_user %>
          Signed in as <%= current_user.first_name %>!
          <%= link_to "My profile", user_path(current_user.id) %>
          <%= link_to "Sign out", signout_path %>
        <% else %>
          <%= button_to "Sign in with LinkedIn", "/auth/linkedin", method: :get, class:"btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>

    <%= yield %>

  </div>
  
</body>
</html>
