<!DOCTYPE html>
<html>
<head>
  <title>NetworkBuilder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>

<body>

  <%= image_tag 'networkbuilder_logo.png', size: '200x75' %>

  <div class="container">

    <% if current_user %>
      Signed in as <%= current_user.first_name %>!
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign in with LinkedIn", "/auth/linkedin" %>
    <% end %>

    <%= yield %>

  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
